<div class="containerr">

    <img [src]="dataObject?.imageUrl" class="image">

    <div class="text-block">
        <p class="title">
            {{dataObject?.title}}
        </p>
        <p class="main-article">
            {{dataObject?.summary}}
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis officia modi at est magnam quas nemo!
            Assumenda, pariatur ipsum corporis libero nemo temporibus, aspernatur veniam maiores, sint deserunt
            veritatis magnam? <br><br>
            Repellat repudiandae sint quibusdam laboriosam ipsam minima explicabo officiis nihil. Assumenda minus quo
            mollitia quia alias distinctio tempore magnam, facilis maiores consequuntur suscipit ipsam fugiat,
            temporibus, nam vel molestias ullam! <br><br>
            Praesentium, similique! Consequuntur, molestias illo, quasi dolorum perspiciatis doloribus, aspernatur eaque
            vero ducimus blanditiis debitis harum. Non, perspiciatis. Nostrum omnis voluptate vero beatae distinctio
            nesciunt impedit necessitatibus nisi, corrupti at?
            Fugit consectetur possimus cumque, quasi neque iste ea pariatur ratione omnis animi nam iusto aut et?
            Laborum sunt enim earum pariatur dignissimos, quaerat eius hic facere? Eius sequi nulla odit.
            Ducimus, ab nemo commodi voluptatum velit recusandae eius. Facere quaerat rerum quis. Ullam minima
            repudiandae, blanditiis ipsum earum recusandae praesentium magnam, odio, ea quis porro eligendi? Nostrum
            neque consequuntur aspernatur! <br><br>
            Alias ex accusamus quae. Corporis dolores quasi fuga, cum, dicta ipsam consequuntur deleniti eos nam sequi
            natus magni quam doloremque maxime. Sequi reprehenderit at quae ab adipisci delectus, beatae voluptatibus?
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus beatae, rerum accusamus dolorum fugit
            sequi dolorem quisquam quae iusto aliquam est, numquam deleniti hic facere aut, atque provident voluptatibus
            consequuntur?<br><br>
            Et, ducimus omnis saepe magnam possimus consequatur, minus iure facilis eum tempora deserunt hic tenetur
            recusandae quod labore. Possimus maiores a perferendis laborum voluptas provident minus suscipit eveniet et.
            Libero!<br><br>
            Dolore consequuntur molestiae provident excepturi impedit repellendus, deleniti, exercitationem commodi
            earum veritatis debitis eos id eaque iste perspiciatis. Sunt repellat molestiae tempore veniam. Fugit itaque
            tenetur deleniti consectetur laboriosam nesciunt?
            Repellendus explicabo animi accusamus, debitis minus blanditiis facilis, accusantium odit sint totam sed
            sunt iure, maiores similique harum nihil doloremque! Ea eligendi minima quis ducimus nesciunt veniam
            officiis, culpa officia.<br><br>
            Quos consequatur perferendis, fuga, sed optio obcaecati fugiat molestias voluptatum dolorum aspernatur ipsam
            excepturi repellendus minus unde, ut similique vitae laudantium repudiandae. Ducimus illo at repellat
            mollitia magnam omnis aspernatur?<br><br>
            Ullam eos voluptatem quis accusamus laudantium ipsum esse minima, vero ut, delectus fuga veritatis, quidem
            aliquam perspiciatis minus provident praesentium aliquid! Modi alias velit voluptatem obcaecati numquam
            veritatis veniam molestiae.<br><br>
        </p>
    </div>

    <div class="back-page">
        <a routerLink="/">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
                viewBox="0 0 16 10">
                <path fill-rule="evenodd"
                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg>
            Back to the homepage
        </a>
    </div>
</div>